/*  Trending Search Car 1 ---------------------------------- */


.trending-search-car {
    position: relative;

    &:hover {
        .trending-search-car__img {
            &::before {
                transform: scale(1);
            }
        }

        .icon-btn {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%);
        }
    }

    .icon-btn {
        position: absolute;
        text-align: center;
        z-index: 1;
        transition: .4s;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -20%);
        opacity: 0;
        visibility: hidden;
        border: 0;
        border-radius: 50%;
        line-height: 57px;
        color: var(--white-color);
        background-color: var(--theme-color);

        &:hover {
            background: var(--white-color);
            color: var(--theme-color);
        }
    }

    &__img {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--black-color2);
            opacity: 0.8;
            border-radius: 0px;
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            z-index: -1;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
        img {
            width: 100%;
        }
    }

    &__content {
        margin-top: 22px;

        .box-title {
            margin-bottom: 2px;
            font-weight: 400;
        }

        .box-text {
            font-family: var(--title-font);
        }
    }
}