{% extends 'index.html' %}
{% load static %}

{% block body %}
<!--==============================
    Breadcumb
============================== -->

<div class="breadcumb-wrapper" data-bg-src="{% static 'assets/img/bg/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">All Properties</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Property</li>
            </ul>
        </div>
    </div>
</div>
    <!--==============================
Blog Area
==============================-->
    <section class="th-blog-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="th-sort-bar property-style">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md">
                        <h4 class="box-title text-start fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s">Property Listing</h4>
                    </div>

                    <div class="col-md-auto">
                        <div class="sorting-filter-wrap fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s">
                            <div class="nav" role=tablist>
                                <a class="active" href="#" id="tab-shop-list" data-bs-toggle="tab" data-bs-target="#tab-list" role="tab" aria-controls="tab-grid" aria-selected="false"><i class="fa-solid fa-list"></i></a>
                                <a href="#" id="tab-shop-grid" data-bs-toggle="tab" data-bs-target="#tab-grid" role="tab" aria-controls="tab-grid" aria-selected="true"> <i class="fa-light fa-grid-2"></i></a>
                            </div>
                            {% comment %} <form class="woocommerce-ordering" method="get">
                                <select name="orderby" class="orderby" aria-label="Shop order">
                                    <option value="menu_order" selected="selected">Default Sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="rating">Sort by average rating</option>
                                    <option value="date">Sort by latest</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                </select>
                            </form> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
                    <div class="row gy-40">

                        {% for property in properties %}
                        <div class="col-xl-4 col-lg-6 col-md-6 fadeinup wow">
                            <div class="popular-list-1 grid-style">
                                <div class="thumb-wrapper">
                                    <div class="th-slider" data-slider-options='{"loop":false, "autoplay": false,"autoHeight": true, "effect":"fade"}'>
                                        <div class="swiper-wrapper">
                                            {% for img in property.images.all %}
                                                <div class="swiper-slide">
                                                    <a class="popular-popup-image" href="{{ img.image.url }}">
                                                        <img src="{{ img.image.url }}" alt="{{ property.name |truncatewords:2}}">
                                                    </a>
                                                </div>
                                            {% empty %}
                                                <div class="swiper-slide">
                                                    <img src="{% static 'assets/img/no-image.jpg' %}" alt="No Image Available">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="icon-wrap">
                                            <button class="slider-arrow slider-prev"><i class="far fa-arrow-left"></i></button>
                                            <button class="slider-arrow slider-next"><i class="far fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a href="#" class="icon-btn"><i class="fas fa-heart"></i></a>
                                    </div>
                                    <div class="actions-style-2-wrapper">
                                        <div class="actions style-2">
                                            <a href="#" class="icon-btn">
                                                <span class="action-text">Add To Favorite</span>
                                                <i class="fa-solid fa-bookmark"></i>
                                            </a>
                                            <a href="{{ property.images.first.image.url }}" class="icon-btn popular-popup-image">
                                                <span class="action-text">View all img</span>
                                                <i class="fa-solid fa-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="popular-badge">
                                        <img src="{% static 'assets/img/icon/sell_rent_icon.svg' %}" alt="icon">
                                        <p>{{ property.purpose }}</p>
                                    </div>
                                </div>

                                <div class="property-content">
                                    <div class="media-body">
                                        <h3 class="box-title">
                                            <a href="{% url 'property_detail' property.slug %}">{{ property.name }}</a>
                                        </h3>
                                        <div class="box-text">
                                            <div class="icon"><img src="{% static 'assets/img/icon/popular-location.svg' %}" alt="icon"></div>
                                            {{ property.address|default:"N/A"|truncatewords:5 }}
                                        </div>
                                    </div>

                                    <ul class="property-featured">
                                        <li>
                                            <div class="icon"><img src="{% static 'assets/img/icon/bed.svg' %}" alt="icon"></div>
                                            Bed {{ property.bedroom }}
                                        </li>
                                        <li>
                                            <div class="icon"><img src="{% static 'assets/img/icon/bath.svg' %}" alt="icon"></div>
                                            Bath {{ property.bath }}
                                        </li>
                                        <li>
                                            <div class="icon"><img src="{% static 'assets/img/icon/sqft.svg' %}" alt="icon"></div>
                                            {{ property.sqft }} sqft
                                        </li>
                                    </ul>

                                    <div class="property-bottom">
                                    {% if property.price is not None %}
                                           <h6 class="box-title">{{ property.price|floatformat:2 }} ৳</h6>
                                     {% endif %}                       
                                    <a class="th-btn sm style3 pill" href="{% url 'property_detail' property.slug %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        
                        <div class="th-pagination text-center pt-4">
                            <ul>
                                {% if properties.has_previous %}
                                    <li>
                                        <a href="?page={{ properties.previous_page_number }}">
                                            <i class="far fa-arrow-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for num in properties.paginator.page_range %}
                                    {% if properties.number == num %}
                                        <li><a class="active" href="?page={{ num }}">{{ num }}</a></li>
                                    {% elif num >= properties.number|add:'-2' and num <= properties.number|add:'2' %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if properties.has_next %}
                                    <li>
                                        <a class="next-page" href="?page={{ properties.next_page_number }}">
                                            Next <i class="far fa-arrow-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade active show" id="tab-list" role="tabpanel" aria-labelledby="tab-shop-list">
                    <div class="row gy-40 justify-content-center">

                        <div class="col-xl-8 col-lg-12">
                            <div class="row gy-30">
                                {% for property in properties %}
                                <div class="col-xl-12 fadeinup wow">
                                    <div class="popular-list-1 list-style">
                                        <div class="thumb-wrapper">
                                            <div class="th-slider" data-slider-options='{"loop":false, "autoplay": false, "autoHeight": true, "effect":"fade"}'>
                                                <div class="swiper-wrapper">
                                                    {% for img in property.images.all %}
                                                        <div class="swiper-slide">
                                                            <a class="popular-popup-image" href="{{ img.image.url }}">
                                                                <img src="{{ img.image.url }}" alt="{{ property.name }}">
                                                            </a>
                                                        </div>
                                                    {% empty %}
                                                        <div class="swiper-slide">
                                                            <img src="{% static 'assets/img/no-image.jpg' %}" alt="No Image Available">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="icon-wrap">
                                                    <button class="slider-arrow slider-prev"><i class="far fa-arrow-left"></i></button>
                                                    <button class="slider-arrow slider-next"><i class="far fa-arrow-right"></i></button>
                                                </div>
                                            </div>

                                            <div class="actions">
                                                <a href="#" class="icon-btn"><i class="fas fa-heart"></i></a>
                                            </div>

                                            <div class="actions-style-2-wrapper">
                                                <div class="actions style-2">
                                                    <a href="#" class="icon-btn">
                                                        <span class="action-text">Add To Favorite</span>
                                                        <i class="fa-solid fa-bookmark"></i>
                                                    </a>
                                                    {% if property.images.first %}
                                                    <a href="{{ property.images.first.image.url }}" class="icon-btn popular-popup-image">
                                                        <span class="action-text">View all img</span>
                                                        <i class="fa-solid fa-camera"></i>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="popular-badge">
                                                <img src="{% static 'assets/img/icon/sell_rent_icon.svg' %}" alt="icon">
                                                <p>{{ property.get_status_display }}</p>
                                            </div>
                                        </div>

                                        <div class="property-content">
                                            <div class="media-body">
                                                <h3 class="box-title">
                                                    <a href="{% url 'property_detail' property.slug %}">
                                                        {{ property.name }}
                                                    </a>
                                                </h3>
                                                <div class="box-text">
                                                    <div class="icon">
                                                        <img src="{% static 'assets/img/icon/popular-location.svg' %}" alt="icon">
                                                    </div>
                                                    {{ property.address|default:"N/A"|truncatewords:20 }}
                                                </div>
                                            </div>

                                            <ul class="property-featured">
                                                <li>
                                                    <div class="icon"><img src="{% static 'assets/img/icon/bed.svg' %}" alt="icon"></div>
                                                    Bed {{ property.bedroom }}
                                                </li>
                                                <li>
                                                    <div class="icon"><img src="{% static 'assets/img/icon/bath.svg' %}" alt="icon"></div>
                                                    Bath {{ property.bath }}
                                                </li>
                                                <li>
                                                    <div class="icon"><img src="{% static 'assets/img/icon/sqft.svg' %}" alt="icon"></div>
                                                    {{ property.sqft }} sqft
                                                </li>
                                            </ul>

                                            <div class="property-bottom">
                                                {% if property.price is not None %}
                                                    <h6 class="box-title">{{ property.price|floatformat:2 }} ৳</h6>
                                                {% endif %}    
                                                <a class="th-btn sm style3 pill" href="{% url 'property_detail' property.slug %}">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                
                                <div class="th-pagination text-center pt-4">
                                    <ul>
                                        {% if properties.has_previous %}
                                            <li>
                                                <a href="?page={{ properties.previous_page_number }}">
                                                    <i class="far fa-arrow-left"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% for num in properties.paginator.page_range %}
                                            {% if properties.number == num %}
                                                <li><a class="active" href="?page={{ num }}">{{ num }}</a></li>
                                            {% elif num >= properties.number|add:'-2' and num <= properties.number|add:'2' %}
                                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if properties.has_next %}
                                            <li>
                                                <a class="next-page" href="?page={{ properties.next_page_number }}">
                                                    Next <i class="far fa-arrow-right"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6">
                            <aside class="sidebar-area">
                                <div class="widget widget_search  ">
                                    <h3 class="widget_title">search</h3>
                                    
                                    
                                    <form method="GET" action="{% url 'property-search' %}" class="search-form">
                                        <input type="text" name="q" placeholder="What are you looking for?" required>
                                        <button type="submit"><i class="fal fa-search"></i></button>
                                    </form>
                                </div> 


                                <div class="widget">
                                    <h3 class="widget_title">Featured Listings</h3>
                                    <div class="recent-post-wrap featured-listing">
                                        {% for property in featured_properties %}
                                            <div class="recent-post">
                                                <div class="media-img">
                                                    <a href="{% url 'property_detail' property.slug %}">
                                                        {% if property.images.first %}
                                                            <img src="{{ property.images.first.image.url }}" alt="{{ property.name }}">
                                                        {% else %}
                                                            <img src="{% static 'assets/img/no-image.jpg' %}" alt="No Image">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="post-title">
                                                        <a class="text-inherit" href="{% url 'property_detail' property.slug %}">
                                                            {{ property.name|truncatewords:8 }}
                                                        </a>
                                                    </h4>
                                                    <div class="property-features-wrap">
                                                        <div class="property-features-item">
                                                            <div class="thumb">
                                                                <img src="{% static 'assets/img/icon/bed.svg' %}" alt="icon">
                                                            </div>
                                                            <h5 class="feature-title">Bed {{ property.bedroom }}</h5>
                                                        </div>
                                                        <div class="divider"></div>
                                                        <div class="property-features-item">
                                                            <div class="thumb">
                                                                <img src="{% static 'assets/img/icon/bath.svg' %}" alt="icon">
                                                            </div>
                                                            <h5 class="feature-title">Bath {{ property.bath }}</h5>
                                                        </div>
                                                        <div class="divider"></div>
                                                        <div class="property-features-item">
                                                            <div class="thumb">
                                                                <img src="{% static 'assets/img/icon/sqft.svg' %}" alt="icon">
                                                            </div>
                                                            <h5 class="feature-title">{{ property.sqft }} sqft</h5>
                                                        </div>
                                                    </div>
                                                    <div class="recent-post-meta">
                                                        <a href="{% url 'property_detail' property.slug %}">
                                                            ৳ {{ property.price|floatformat:2 }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <p>No featured listings found.</p>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="widget sidebar-contact-form">
                                    <h3 class="widget_title">Contact Us</h3>
                                    <div class="contact-form-widget">
                                            {% for message in messages %}
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        {{ message }}
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                            {% endfor %}
                                        
                                            <form class="newsletter-form"  method="post" action="">
                                            {% csrf_token %}

                                            <div class="mb-3">
                                                {{ form.name }}
                                                {{ form.name.errors }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form.number }}
                                                {{ form.number.errors }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form.email }}
                                                {{ form.email.errors }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form.subject }}
                                                {{ form.subject.errors }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form.message }}
                                                {{ form.message.errors }}
                                            </div>

                                            <button type="submit" class="btn btn-primary">Send Message</button>
                                        </form>


                                    </div>
                                </div>
                                
                            </aside>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==============================
Blog Area  
==============================-->
{% endblock %}


