{% extends 'index.html' %}
{% block body%}
{% load static %}  



<!--==============================
    Breadcumb
============================== -->

    <div class="breadcumb-wrapper" data-bg-src="{% static 'assets/img/bg/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">About Us</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
About Area  
==============================-->
    <div class="about-1-wrapper space overflow-hidden" id="about-sec">
        <div class="shape-mockup " data-bottom="0" data-left="0">
            <img src="{% static 'assets/img/icon/about-2-shape.png' %}" alt="img">
        </div>
        <div class="shape-mockup jump d-none d-lg-block" data-bottom="11%" data-left="5%">
            <img src="{% static 'assets/img/icon/about-inner-shape.png' %}" alt="img">
        </div>
        <div class="container">
            <div class="row gy-40 gx-70 justify-content-center">
                <div class="col-xl-7">
                    <div class="img-box1 about-1 fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s">
                        <div class="about-logo-wrap-2">
                            <div class="logo-icon-wrap">
                                <div class="logo-icon">
                                    <img src="{% static 'assets/img/icon/logo-circle-icon.png' %}" alt="img">
                                </div>
                                <div class="logo-icon-wrap__text">
                                    <span class="logo-animation">PILLAR REAL ESTATE HOME * REAL ESTATE</span>
                                </div>
                            </div>
                        </div>
                        <div class="about-left">
                            <div class="img-box">
                                <img src="{% static 'assets/img/about/about-1-left-1.jpg' %}" alt="Image">
                            </div>
                            <div class="img-box small">
                                <img src="{% static 'assets/img/about/about-1-left-2.jpg' %}" alt="Image">
                            </div>
                        </div>
                        <div class="about-middle">
                            <img class="tilt-active" src="{% static 'assets/img/about/about-1-middle.jpg' %}" alt="Image">
                        </div>
                        <div class="about-right">
                            <div class="img-box small">
                                <img src="{% static 'assets/img/about/about-1-right-1.jpg' %}" alt="Image">
                            </div>
                            <div class="img-box big">
                                <img src="{% static 'assets/img/about/about-1-right-2.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="title-area text-left mb-50">
                        <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span class="double-line"></span> About Us</p>
                        <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s">Discover Our Luxury Property, with Full Amenities</h2>
                        <p class="sec-text fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.5s">Simply scan the QR code on the right with your phone’s camera, then click the prompt to open the app download page.</p>
                    </div>
                    <div class="row gy-4 gx-60 mb-4">
                        <div class="col-lg-6 col-md-6 fadeinup wow">
                            <div class="about-1-item">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/about-1-1.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h3 class="box-title">Quality Services</h3>
                                    <p class="box-text">Deals with issues in the exhaust system, ensuring </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 fadeinup wow">
                            <div class="about-1-item">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/about-1-2.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h3 class="box-title">Clients Feedback</h3>
                                    <p class="box-text">Ensuring the exhaust system deals issues properly. </p>
                                    <p class="box-text"> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 fadeinup wow">
                            <div class="about-1-item">
                                <div class="icon">
                                    <img src="assets/img/icon/about-1-3.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3 class="box-title">Space Belongings</h3>
                                    <p class="box-text">Ensuring that issues in the system are dealt with.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 fadeinup wow">
                            <div class="about-1-item">
                                <div class="icon">
                                    <img src="assets/img/icon/about-1-4.svg" alt="icon">
                                </div>
                                <div class="content">
                                    <h3 class="box-title">Personal Liability</h3>
                                    <p class="box-text">Exhaust system deals with all issues efficiency. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="about-bottom-wrap fadeinup wow">
                                <a href="about.html" class="th-btn bg-black pill">
                                    More About Us
                                </a>
                                <div class="about1-call-wrapper">
                                    <div class="icon"><i class="fa-regular fa-phone"></i></div>
                                    <div class="content">
                                        <p>Free Consulting</p>
                                        <a href="tel:+00(123)45678900" class="link">+00 (123) 456789 00</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Why choose Area  
==============================-->
    <div class="why-sec-2 bg-smoke space" id="why-sec" data-bg-src="{% static 'assets/img/shape/what-we-do-3-bg.png' %}">
        <div class="container">
            <div class="row justify-content-lg-between gy-4 justify-content-center align-items-center mb-40">
                <div class="col-lg-6">
                    <div class="title-area text-left mb-2">
                        <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span class="double-line"></span> Signature Features</p>
                        <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s"> See how Pillar can Help</h2>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <a href="property.html" class="th-btn style3 radius fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s">View All Services</a>
                </div>
            </div>
            <div class="row gy-30 justify-content-center">
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">01</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-1.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">Easty To Rent</a></h3>
                            <p class="box-text"> Velox surgo clarus confido carus video lumen virtus spes decerno..</p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Find a Home</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">02</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-2.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">Carefully Crafted</a></h3>
                            <p class="box-text"> Altus cedo tantillus video patrocinor valeo vestrum credo virtus.</p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Sell a Home</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">03</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-3.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">Eco-Friendly & Green</a></h3>
                            <p class="box-text"> Technology is revolutionizing the other legal Technology the legal </p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Rent a Home</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">04</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-4.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">Lavish Greenary</a></h3>
                            <p class="box-text"> Confido carus video lumen Velox surgo ok virtus spes decerno.</p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Find a Home</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">05</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-1.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">In-built Wardrobe</a></h3>
                            <p class="box-text"> Velox surgo clarus home of other the cedo virtus spes decerno.</p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Sell a Home</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">06</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-2.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">Planned Construction</a></h3>
                            <p class="box-text"> Altus cedo tantillus video patrocinor subseco vestrum credo virtus.</p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Rent a Home</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">07</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-3.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">Family & Community</a></h3>
                            <p class="box-text"> Technology is revolutionizing the legal tantillus Technology the legal </p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Find a Home</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 fadeinup wow">
                    <div class="why-card-1 style-2 style-4">
                        <h4 class="count">08</h4>
                        <div class="why-card-1__icon">
                            <img src="assets/img/icon/why-icon-1-4.svg" alt="image">
                        </div>
                        <div class="why-card-1__content">
                            <h3 class="box-title"><a href="service.html">Tech & Security</a></h3>
                            <p class="box-text"> Confido carus video lumen Velox clarus tantillus virtus spes decerno.</p>
                        </div>
                        <div class="why-card-1__bottom">
                            <a class="th-btn style3 radius bg-white" href="property-details.html">Rent a Home</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!--==============================
Team Area  
==============================-->
    <section class="team-area-1 space overflow-hidden">
        <div class="shape-mockup jump d-none d-lg-block" style="top: 6%; right: 4%;">
            <img src="assets/img/shape/team-2-shape.png" alt="img">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="title-area text-center mt-1">
                        <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span class="double-line"></span>Team Members</p>
                        <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s">Meet Our Pillar Agents</h2>
                    </div>
                </div>
            </div>

            <div class="slider-area mb-20">
                <div class="swiper th-slider has-shadow" id="teamSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"},"1400":{"slidesPerView":"4"}}, "autoHeight": "true"}'>
                    <div class="swiper-wrapper">
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <div class="team-card style-2" data-bg-src="assets/img/shape/team-2-bg-shape.png">
                                <div class="team-img">
                                    <img src="assets/img/team/team_2_1.png" alt="Team">
                                </div>
                                <div class="team-content">
                                    <div class="left-contet">
                                        <h3 class="box-title"><a href="team-details.html">Vickie Wisozk</a></h3>
                                        <span class="team-desig">Real Estate Manager</span>
                                    </div>
                                    <div class="team-social">
                                        <div class="th-social">
                                            <a target="_blank" href="https://instagram.com/"><i class="fab fa-linkedin-in"></i></a>
                                            <a target="_blank" href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <div class="team-card style-2" data-bg-src="assets/img/shape/team-2-bg-shape.png">
                                <div class="team-img">
                                    <img src="assets/img/team/team_2_2.png" alt="Team">
                                </div>
                                <div class="team-content">
                                    <div class="left-contet">
                                        <h3 class="box-title"><a href="team-details.html">Renee Strosin</a></h3>
                                        <span class="team-desig">Property Developer</span>
                                    </div>
                                    <div class="team-social">
                                        <div class="th-social">
                                            <a target="_blank" href="https://instagram.com/"><i class="fab fa-linkedin-in"></i></a>
                                            <a target="_blank" href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <div class="team-card style-2" data-bg-src="assets/img/shape/team-2-bg-shape.png">
                                <div class="team-img">
                                    <img src="assets/img/team/team_2_3.png" alt="Team">
                                </div>
                                <div class="team-content">
                                    <div class="left-contet">
                                        <h3 class="box-title"><a href="team-details.html">Zulia Era</a></h3>
                                        <span class="team-desig">Listing Coordinator</span>
                                    </div>
                                    <div class="team-social">
                                        <div class="th-social">
                                            <a target="_blank" href="https://instagram.com/"><i class="fab fa-linkedin-in"></i></a>
                                            <a target="_blank" href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <div class="team-card style-2" data-bg-src="assets/img/shape/team-2-bg-shape.png">
                                <div class="team-img">
                                    <img src="assets/img/team/team_2_4.png" alt="Team">
                                </div>
                                <div class="team-content">
                                    <div class="left-contet">
                                        <h3 class="box-title"><a href="team-details.html">Bernice Roberts</a></h3>
                                        <span class="team-desig">Leasing Consultant</span>
                                    </div>
                                    <div class="team-social">
                                        <div class="th-social">
                                            <a target="_blank" href="https://instagram.com/"><i class="fab fa-linkedin-in"></i></a>
                                            <a target="_blank" href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <div class="team-card style-2" data-bg-src="assets/img/shape/team-2-bg-shape.png">
                                <div class="team-img">
                                    <img src="assets/img/team/team_2_5.png" alt="Team">
                                </div>
                                <div class="team-content">
                                    <div class="left-contet">
                                        <h3 class="box-title"><a href="team-details.html">Martha Leffler</a></h3>
                                        <span class="team-desig">Real Estate Manager</span>
                                    </div>
                                    <div class="team-social">
                                        <div class="th-social">
                                            <a target="_blank" href="https://instagram.com/"><i class="fab fa-linkedin-in"></i></a>
                                            <a target="_blank" href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <div class="team-card style-2" data-bg-src="assets/img/shape/team-2-bg-shape.png">
                                <div class="team-img">
                                    <img src="assets/img/team/team_2_6.png" alt="Team">
                                </div>
                                <div class="team-content">
                                    <div class="left-contet">
                                        <h3 class="box-title"><a href="team-details.html">Thomas Kirlin</a></h3>
                                        <span class="team-desig">Listing Coordinator</span>
                                    </div>
                                    <div class="team-social">
                                        <div class="th-social">
                                            <a target="_blank" href="https://instagram.com/"><i class="fab fa-linkedin-in"></i></a>
                                            <a target="_blank" href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button data-slider-prev="#teamSlider1" class="slider-arrow slider-prev"><i class="far fa-arrow-left"></i></button>
                <button data-slider-next="#teamSlider1" class="slider-arrow slider-next"><i class="far fa-arrow-right"></i></button>
            </div>

            <div class="row gy-40 justify-content-center">
                <div class="col-xl-8">
                    <p class="chat-text-wrap text-center pe-xl-5 ps-xl-5 mb-0">Explore Property agents are here to help with all your buying, renting and selling goals. Find the home of your dreams with an expert you can trust. <a class="text-theme" href="contact.html"> Let’s chat</a></p>
                </div>
            </div>
        </div>
    </section><!--==============================
Counter Area  
==============================-->
    <div class="counter-sec1 space overflow-hidden" data-bg-src="assets/img/bg/counter-1-bg.jpg">
        <div class="container">
            <div class="counter-card-wrap">
                <div class="counter-card fadeinup wow">
                    <div class="box-icon">
                        <img src="assets/img/icon/counter_1_1.svg" alt="Icon">
                    </div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number"> 1950 </span><span class="plus-simple">+</span></h4>
                        <p class="box-text">Project Handover</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="counter-card fadeinup wow">
                    <div class="box-icon">
                        <img src="assets/img/icon/counter_1_1.svg" alt="Icon">
                    </div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number"> 2 </span><span class="plus-simple">m</span></h4>
                        <p class="box-text">Monthly Visitors</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="counter-card fadeinup wow">
                    <div class="box-icon">
                        <img src="assets/img/icon/counter_1_1.svg" alt="Icon">
                    </div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number"> 850 </span><span class="plus-simple">+</span></h4>
                        <p class="box-text">Property Ready</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="counter-card fadeinup wow">
                    <div class="box-icon">
                        <img src="assets/img/icon/counter_1_1.svg" alt="Icon">
                    </div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number"> 98 </span><span class="plus-simple">%</span></h4>
                        <p class="box-text">Happy Customers</p>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div><!--==============================
Testimonial Area  
==============================-->
    <section class="testi-card-area-2 space-top overflow-hidden">
        <div class="shape-mockup spin d-none d-xxl-block" data-left="7%" data-top="14%">
            <img src="assets/img/shape/hero-3-left-shape.png" alt="img">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="title-area text-center">
                        <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span class="double-line"></span>Testimonials</p>
                        <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s">What Clients Say About Pillar</h2>
                    </div>
                </div>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="testi-card-slide">
                    <div class="swiper has-shadow th-slider" id="testiSlide1" data-slider-options='{"centeredSlides":true,"paginationType": "progressbar","loop":true,"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"1"},"1200":{"slidesPerView":"1"}}}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-block style-2" dir="ltr">
                                    <div class="top-wrap">
                                        <div class="quote">
                                            <img src="assets/img/icon/testi-2quote.svg" alt="quote">
                                        </div>
                                    </div>
                                    <div class="testi-content pe-xl-5 px-xl-5">
                                        <p class="box-text">“Adinventitias sequi cerno cedo vapulus adhaero decretum suppono iure voluptate. Trans triumphus toties sed cogito carbo valetudo aequus ciminatio conventus. Voluptates decimus vorago suadeo. Culpo carmen adnuo. Verecundia capio denego. Tracto caterva cavus denique culpa vigor tergum possimus. Aer arceo umerus asperiores templum desidero caritas. Velum adipisci verumtamen comparo ascisco ceno vitiosus aeneus tenetur bibo.”</p>
                                    </div>
                                    <div class="bottom-wrap">
                                        <div class="box-review">
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                        </div>
                                        <div class="team-img">
                                            <img src="assets/img/testimonial/testi-2-1.jpg" alt="Team">
                                        </div>
                                        <div class="content">
                                            <h3 class="box-title">Georgia Schaden</h3>
                                            <p class="text">Property owner</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-block style-2" dir="ltr">
                                    <div class="top-wrap">
                                        <div class="quote">
                                            <img src="assets/img/icon/testi-2quote.svg" alt="quote">
                                        </div>
                                    </div>
                                    <div class="testi-content pe-xl-5 px-xl-5">
                                        <p class="box-text">“Tenax comitatus ambulo regnum eligo, conturbo vis caelum cohors. Infit ustulo adoptio collum, speciosus lumen soluta. Condico spiculum ratio, sopor conventus adversus fiducia. Arma arcesso altaria impleo pax laboriosus. Tracto caterva cavus denique culpa vigor tergum possimus. Aer arceo umerus asperiores templum desidero caritas. Trepide asporto momentum, Tracto caterva cavus denique culpa vigor. virgo sollemne aurora amo”</p>
                                    </div>
                                    <div class="bottom-wrap">
                                        <div class="box-review">
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                        </div>
                                        <div class="team-img">
                                            <img src="assets/img/testimonial/testi-2-2.jpg" alt="Team">
                                        </div>
                                        <div class="content">
                                            <h3 class="box-title">Walter Deckow</h3>
                                            <p class="text">Property owner</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-block style-2" dir="ltr">
                                    <div class="top-wrap">
                                        <div class="quote">
                                            <img src="assets/img/icon/testi-2quote.svg" alt="quote">
                                        </div>
                                    </div>
                                    <div class="testi-content pe-xl-5 px-xl-5">
                                        <p class="box-text">“Contendo votum traho clamo statim suffragium numquam teneo. Altus iudicium versor, perpetuus velum pax vestigium carpo. Candidus firmamentum celo, voluptas optio demitto sonitus. Obduro casus adinventio vestigium amplitudo sumo.vestigium carpo. Candidus firmamentum celo, voluptas Concido laboriosam varietas amplector, aureus stella sursum approbo. Gravitas turbo decet, hhe adulescens perpetuus auxilium comes virga.”</p>
                                    </div>
                                    <div class="bottom-wrap">
                                        <div class="box-review">
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                        </div>
                                        <div class="team-img">
                                            <img src="assets/img/testimonial/testi-2-1.jpg" alt="Team">
                                        </div>
                                        <div class="content">
                                            <h3 class="box-title">Carlos Bauch</h3>
                                            <p class="text">Property owner</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-block style-2" dir="ltr">
                                    <div class="top-wrap">
                                        <div class="quote">
                                            <img src="assets/img/icon/testi-2quote.svg" alt="quote">
                                        </div>
                                    </div>
                                    <div class="testi-content pe-xl-5 px-xl-5">
                                        <p class="box-text">“Tenax comitatus ambulo regnum eligo, conturbo vis caelum cohors. Infit ustulo adoptio collum, speciosus lumen soluta. Condico spiculum ratio, sopor conventus adversus fiducia. Arma arcesso altaria impleo pax laboriosus. Trepide asporto momentum, virgo sollemne aurora amo. Cedo umquam cedo summisse damnum reiciendis veritas flamma. Tempus appono validus translatio, Exemplum adnuo sponte voluntas radius caecus exsisto.”</p>
                                    </div>
                                    <div class="bottom-wrap">
                                        <div class="box-review">
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                            <i class="fa-sharp fa-solid fa-star"></i>
                                        </div>
                                        <div class="team-img">
                                            <img src="assets/img/testimonial/testi-2-2.jpg" alt="Team">
                                        </div>
                                        <div class="content">
                                            <h3 class="box-title">Julia Era</h3>
                                            <p class="text">Property owner</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-controller container-width">
                            <button data-slider-prev="#testiSlide1" class="slider-arrow default  slider-prev"><i class="far fa-arrow-left"></i></button>
                            <div class="slider-pagination style-2" data-slider-id="#testiSlider1"></div>
                            <button data-slider-next="#testiSlide1" class="slider-arrow default  slider-next"><i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="testi-bottom-review-wrap">
                        <div class="testi-bottom-item">
                            <div class="trust-content">
                                <div class="icon"><img src="assets/img/icon/star-icon.svg" alt="img"></div>
                                <h4 class="box-title">Trustipilot</h4>
                            </div>
                            <div class="bottom">
                                <div class="avatar">
                                    <img src="assets/img/hero/heror-1-avator-group.png" alt="img">
                                </div>
                                <div class="content">
                                    <div class="th-social">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <h4 class="review-title"><span class="number"><span class="counter-number">19</span>k+</span> clients</h4>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="testi-bottom-item">
                            <div class="trust-content">
                                <div class="icon"><img src="assets/img/icon/google-icon.svg" alt="img"></div>
                                <h4 class="box-title">Google</h4>
                            </div>
                            <div class="bottom">
                                <div class="avatar">
                                    <img src="assets/img/hero/heror-1-avator-group-2.png" alt="img">
                                </div>
                                <div class="content">
                                    <div class="th-social">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <h4 class="review-title"><span class="number"><span class="counter-number">25</span>k+</span> clients</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--==============================
Download Area  3 
==============================-->
    <div class="download-sec-3 space-top">
        <div class="download-3-bg-inner" data-bg-src="assets/img/bg/download-bg-3.jpg">
            <div class="container">
                <div class="row gy-4 align-items-center">
                    <div class="col-lg-5 col-xl-5 col-xxl-6">
                        <div class="download-3-left">
                            <div class="map-icon-box">
                                <a href="property.html">
                                    <img src="assets/img/download/download-3-map.png" alt="img">
                                </a>
                            </div>
                            <div class="content-box">
                                <img src="assets/img/download/download-3-icon.png" alt="img">
                                <h4 class="box-title">Find Fast Our Latest Properties</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-7 col-xxl-6">
                        <div class="download-get-in-touch">
                            <form action="mail.php" method="POST" class="ajax-contact">
                                <div class="title-area text-left mb-70">
                                    <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span class="double-line"></span> Get In Touch </p>
                                    <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s"> Let’s Talk Your Property Goal </h2>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label for="name">Name*</label>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label for="email">Email*</label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label for="date">Desired Date*</label>
                                        <input type="date" class="form-control" name="date" id="date">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label for="desired_time">Desired Date*</label>
                                        <input type="text" class="form-control" name="desired_time" id="desired_time" placeholder="Desired Time">
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Additional Message</label>
                                        <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Please write any note here..."></textarea>
                                    </div>
                                    <div class="form-btn col-12 text-end">
                                        <button class="th-btn bg-theme radius">Submit Now</button>
                                    </div>
                                </div>
                                <p class="form-messages mb-0 mt-3"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Marquee Area  
==============================-->
    <div class="marquee-section-3 overflow-hidden">
        <div class="shape-mockup movingX d-none d-xl-block" style="bottom: 36%; left: 6%;">
            <img src="assets/img/shape/faq-2-right.png" alt="img">
        </div>
        <div class="marquee-wrapper">
            <div class="marquee">
                <div class="marquee-group">
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                </div>
                <div class="marquee-group">
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="service.html"> <img src="assets/img/icon/marquee-icon-1-1.svg" alt="img">Luxury Home Available - Explore Now!</a></div>
                </div>
            </div>
        </div>
    </div> 


{% endblock %}