{% extends 'index.html' %}
{% block body%}
{% load static %} 


<!--==============================
    Breadcumb
============================== -->

    <div class="breadcumb-wrapper" data-bg-src="{% static 'assets/img/bg/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Contact</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Contact with Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
Contact Area  
==============================-->
    <div class="contact-area-2 space-top" id="contact-sec">
        <div class="container">
            <div class="row gy-4 justify-content-center">

                <div class="col-xl-4 col-lg-6 contact-feature-wrap">
                    <div class="contact-feature">
                        <div class="contact-feature-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <p class="contact-feature_label">Phone Number</p>
                            <a href="tel:+8801913222203" class="contact-feature_link">+8809639246230</a>
                            <a href="tel:+8801913222203" class="contact-feature_link">+8809639246231</a>
                        </div>
                    </div>
                </div>
                                <div class="col-xl-4 col-lg-6 contact-feature-wrap">
                    <div class="contact-feature">
                        
                        <div class="media-body">
                            <p class="contact-feature_label">Address</p>
                            <a href="https://www.google.com/maps" class="contact-feature_link">House-146(4th Floor) Road-02, Block-A,Pallabi, Mirpur, Dhaka-1216</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 contact-feature-wrap">
                    <div class="contact-feature">
                        <div class="contact-feature-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <p class="contact-feature_label">Email Address</p>
                            <a href="mailto:info@btp.com" class="contact-feature_link">info@btp.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact form area -->
    <div class="contact-form-area">
        <div class="container">
            <div class="row gx-0">
                <div class="col-xl-12">
                    <div class="contact-all-wrapper">                     
                        <div class="contact-form-wrap">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {{ form.non_field_errors }}

                                <div class="mb-3">
                                    {{ form.name.label_tag }}  
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>

                                <div class="mb-3">
                                    {{ form.number.label_tag }}  
                                    {{ form.number }}
                                    {{ form.number.errors }}
                                </div>

                                <div class="mb-3">
                                    {{ form.email.label_tag }}  
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>

                                <div class="mb-3">
                                    {{ form.subject.label_tag }}  
                                    {{ form.subject }}
                                    {{ form.subject.errors }}
                                </div>

                                <div class="mb-3">
                                    {{ form.message.label_tag }}  
                                    {{ form.message }}
                                    {{ form.message.errors }}
                                </div>

                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </form>
                        </div> 
                        <div class="contact-form-thumb overflow-hidden">
                            <img src="{% static 'assets/img/bg/contact-page-thumb.jpg' %}" alt="img">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Map Area  
==============================-->
    <div class="space-top">
        <div class="container-fluid p-0">
            <div class="contact-map"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d812.8976406889884!2d90.3643677685766!3d23.826172891065166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf07c79768dd%3A0x6884b1a8795c497c!2sSustainable%20Engineering%20Solutions%20Ltd!5e0!3m2!1sen!2sbd!4v1753872632946!5m2!1sen!2sbd" allowfullscreen="" loading="lazy"></iframe>
                <div class="contact-icon">
                    <img src="{% static 'assets/img/icon/con-location-dot.svg' %}" alt="img">
                </div>
            </div>
        </div>
    </div>


{% endblock %}