.th-header {
    position: relative;
    z-index: 41;

    .icon-btn {
        border-radius: 99px;
    }

    .menu-area {
        position: relative;
        z-index: 2;
    }
}

.sticky-wrapper {
    transition: 0.4s ease-in-out;

    &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: $white-color;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.07));
        animation: stickyAni 0.4s ease-in-out;

        .header-logo {
            padding: 20px 96px 20px 0;
            @include ml {
                padding: 20px 30px 20px 0;
            }

            @include md {
                padding: 20px 0px 20px 0;
            }
            @include sm {
                padding: 15px 0px 15px 0;
            }
        }
    }
}

@keyframes stickyAni {
    0% {
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }

    100% {
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}

.simple-icon {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 18px;
    position: relative;

    .badge {
        top: 0;
        right: -13px;
        padding: 0.22em 0.40em;
        font-size: 0.6em;
    }
}

.header-button .simple-icon:first-child::before {
    position: absolute;
    content: "";
    right: -20px;
    top: 2px;
    background: #D8DDE1;
    width: 1px;
    height: 20px;
}

.main-menu.sapace-left {
    margin-left: 60px;

    @media (max-width: 1650px) {
        margin-left: 0px;
    }
}

.main-menu {
    a {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        font-family: var(--title-font);
        color: var(--title-color);
        text-transform: capitalize;

        &:hover {
            color: $theme-color;
        }
    }

    >ul {
        >li {
            margin: 0 14px;

            @include xxl {
                margin: 0 14px;
            }

            @include lg {
                margin: 0 11px;
            }

            >a {
                padding: 22px 0;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            position: relative;

            &.menu-item-has-children {
                >a {
                    &:after {
                        content: "\f078";
                        display: inline-block;
                        position: relative;
                        font-family: $icon-font;
                        margin-left: 4px;
                        font-weight: 600;
                        top: 0;
                        font-size: 0.9em;
                        color: $title-color;
                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                        &:after {
                            content: "\f077";
                            color: $theme-color;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &:last-child {
                margin-right: 0 !important;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            &:hover {
                >ul.sub-menu {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                    z-index: 9;
                }
            }
        }
    }

    ul.sub-menu {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: $white-color;
        visibility: hidden;
        min-width: 230px;
        width: max-content;
        padding: 7px;
        left: -14px;
        opacity: 0;
        z-index: -1;
        box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
        border-radius: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: all 0.4s ease 0s;

        a {
            font-size: 15px;
            line-height: 28px;
        }
    }

    ul.sub-menu {
        padding: 18px 20px 18px 18px;
        left: -27px;

        li {
            display: block;
            margin: 0 0;
            padding: 0px 9px;

            &.menu-item-has-children {
                >a {
                    &:after {
                        content: "\2b";
                        float: right;
                        top: 1px;
                        display: inline-block;
                    }

                    &:hover {
                        &:after {
                            content: "\f068";
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            a {
                position: relative;
                padding-left: 0;
                text-transform: capitalize;

                &:before {
                    content: "\f015";
                    position: absolute;
                    top: 8px;
                    left: 10px;
                    font-family: $icon-font;
                    width: 11px;
                    height: 11px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 1em;
                    line-height: 1;
                    color: $theme-color;
                    font-weight: 900;
                    opacity: 0;
                    visibility: visible;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    padding-left: 23px;

                    &:before {
                        visibility: visible;
                        opacity: 1;
                        left: 0;
                    }
                }
            }

            ul.sub-menu {
                left: 100%;
                right: auto;
                top: 0;
                margin: 0 0;
                margin-left: 20px;

                li {
                    ul {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }
    }
}



.menu-style1 {
    >ul>li {
        margin: 0 14px;

        @include xl {
            margin: 0 10px;
        }

        >a {
            padding: 17px 0;
            color: $white-color;

            &:hover {
                color: $theme-color;
            }
        }
    }

    ul li.menu-item-has-children>a:after {
        color: $white-color;
    }
}


.header-button {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    @include xxl {
        gap: 12px;

        .th-btn.style4 {
            padding: 21px 30px;
        }
    }

    .icon-btn {
        .badge {
            font-size: 12px;
            top: 0;
            right: 0;
        }

        &:hover {
            .badge {
                background-color: $title-color;
            }
        }
    }

    @include ml {
        .th-btn {
            display: none;
        }
    }

    .th-btn {
        @media (max-width: 1600px) {
            display: none;
        }
    }
}

.social-links {
    .social-title {
        font-weight: 500;
        font-size: 14px;
        display: inline-block;
        margin: 0 12px 0 0;
        color: var(--body-color);
    }

    a {
        font-size: 16px;
        display: inline-block;
        color: $body-color;
        margin: 0 15px 0 0;

        &:last-child {
            margin-right: 0 !important;
        }

        &:hover {
            color: $theme-color;
        }
    }
}

.header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-links {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .th-social {
        position: relative;
        padding-right: 15px;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 6px;
            height: 20px;
            width: 1px;
            background: var(--th-border-color);
          }
        a {
            --icon-size: 30px;
            border: 0;
            background: transparent;
        }
    }

    li {
        display: inline-block;
        position: relative;
        font-size: 14px;
        font-weight: 400;
        font-family: var(--body-font);

        &:not(:last-child) {
            margin: 0 21px 0 0;

            @include sm {
                margin: 0 15px 0 0;
            }

            &:after {
                content: '';
                height: 14px;
                width: 1px;
                background-color: #797E88;
                position: absolute;
                top: 0px;
                right: -22px;
                margin-top: 7px;
                display: none;

                @include sm {
                    display: none;
                }
            }
        }
        
        .login {
            display: flex;
            gap: 9px;
        }
        .login .icon {
            color: var(--theme-color);
        }

        >i {
            margin-right: 6px;
            color: var(--white-color2);
            color: var(--theme-color);
        }
        .dropdown-link > a img {
            margin-right: 5px;
            margin-top: -3px;
        }
    }

    li,
    span,
    p,
    a {
        color: $body-color;
    }

    a:hover {
        color: $theme-color;
    }

    b,
    strong {
        font-weight: 600;
        margin-right: 6px;
    }

    a {
        font-size: 14px;
        color: var(--gray-color);
    }

    .social-links a {
        font-size: 14px;
        height: 34px;
        width: 34px;
        text-align: center;
        line-height: 34px;
        background: #383838;
        margin: 0 8px 0 0;
    }

    li.lang-wrapper::after {
        display: none;
    }

    li.lang-wrapper {
        margin: 0 0px 0 0;

        @include lg {
            margin: 0 0px 0 0;
        }
    }

    li.lang-wrapper i {
        color: var(--theme-color);
        margin-right: 2px;
    }
}

.header-notice {
    margin: 0;
}

.header-top {
    padding: 11px 0;
    background-color: $smoke-color;
    position: relative;
    z-index: 3;
    a {
        &:hover {
            color: $theme-color;
        }
    }

    .header-links {
        position: relative;
        z-index: 3;
        text-align: center;
    }
}

@include md {
    .header-logo {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

@include vxs {
    .header-layout1 .header-top .header-links ul {
        flex-direction: column;
        display: flex;
    }
    .header-links .th-social a {
        margin-right: 0;
        --icon-size: 24px;
    }
}

/* Header layout 1 ---------------------------------- */

@media (min-width: 1300px) {
    .header-layout1 .container-wrapper {
        max-width: 1720px;
        margin: auto;
        border-radius: 20px;
    }
}
.header-layout1 {
    position: absolute;
    width: 100%;
    top: 25px;
    .container-wrapper {
        background: var(--white-color);
    }
    .header-top {
        background: transparent;
        border-radius: 0;
        padding-left: 18px;
        padding-right: 18px;
        border-bottom: 1px solid var(--th-border-color);

        .header-links {
            position: relative;
            z-index: 5;
            display: flex;
            align-items: center;
            gap: 28px;
            flex-wrap: wrap;
            a {
                color: var(--body-color);
                color: var(--title-color);

                &:hover {
                    color: var(--theme-color);
                }
            }

            .social-links a {
                border-radius: 10px;
                background: var(--smoke-color);
            }
        }
    }

    .menu-area {
        border-radius: 0;
        background: transparent;
    }
}
@include sm {
    .header-layout1 {
        top: 15px;
    }
}

@include md {
    .header-layout1 .header-logo img {
        max-width: 190px;
    }
}
@include xs {
    .header-layout1 .header-logo img {
        max-width: 160px;
    }
}
@include vxs {
    .header-layout1 .menu-area {
        border-radius: 0 0 10px 10px;
        padding: 5px 5px;
    }
}

.header-button .sidemenu-bar {
    height: 48px;
    width: 48px;
    border: 0;
    background: transparent;
    border: 1px solid #999999;
    border-radius: 8px;
    display: flex;
    align-items: inherit;
    flex-direction: column;
    justify-content: center;
    line-height: 55px;
    transition: .4s;
    &.pill {
        border-radius: 30px;
    }
    span {
        height: 2px;
        display: block;
        width: 17px;
        background: var(--gray-color);
        margin: 0;
        padding: 0;
        line-height: 1;
        margin-bottom: 7px;
        border-radius: 10px;
        transition: .4s;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            width: 25px;
        }
    }
    &:hover {
        background: var(--theme-color);
        border-color: var(--theme-color);
        span {
            background: var(--white-color);
            width: 25px;
            &:nth-child(2) {
                width: 17px;
              }
        }
    }
}

//   .header-button > .sidemenu-bar
//   .header-button > .sidemenu-bar:hover 
//   .header-button > .sidemenu-bar:hover span {
//     width: 25px;
//   }
//   .header-button > .sidemenu-bar:hover span

/* Header 1 ---------------------------------- */
.header-default .header-links .current {
	color: var(--gray-color);
}
.header-default {
    .header-top::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white-color);
        z-index: 1;
        -webkit-clip-path: polygon(9% 0%, 104% 0%, 100% 97%, 0% 100%);
        clip-path: polygon(9% 0%, 104% 0%, 100% 97%, 0% 100%);
        height: 100%;
        width: 645px;
        opacity: .1;
        display: none;
    }
    .menu-area {
        background-color: var(--white-color);
        position: relative;
        @include xs {
            overflow: hidden;
        }
    }

    .th-header .menu-area {
        position: relative;  
        z-index: 2;
        background: var(--smoke-color);
    }

    .main-menu>ul>li>a {
        padding: 42px 0;
    }

    .icon-btn {
        border-radius: 99px;
        color: var(--title-color);
    }
}
@include xs {
    .header-default .header-logo img {
        max-width: 160px;
    }
}

/* Header 2 ---------------------------------- */
.header-default.header-layout1 .sticky-wrapper.sticky {
	background: var(--gray-color);
}
.header-default.header-layout1 {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .header-top {
        background: transparent;
        border-bottom: 1px solid #ffffff19;
        backdrop-filter: blur(21px);
    }
    .header-links a {
        font-size: 14px;
        color: var(--white-color);
    }
    .menu-area {
        background-color: transparent;
        border-bottom: 1px solid #ffffff19;
    }
    .main-menu > ul > li > a {
        padding: 34px 0;
        color: var(--white-color);
    }
    .main-menu ul li.menu-item-has-children a::after {
        color: var(--white-color);
    }
    .main-menu ul.sub-menu li.menu-item-has-children > a::after {
        color: var(--title-color);
    }
    .menu-area .icon-btn {
        --btn-size: 48px;
    }
    .header-links .nice-select {
        color: var(--white-color);
    }
    .header-links .current {
        color: var(--white-color);
    }
}

// .header-layout2 {
//     background-color: var(--title-color);
//     border-bottom: 1px solid #FFFFFF14;
//     border: 1px solid #363636;

//     .header-left-wrapper {
//         display: flex;
//         align-items: center;
//         gap: 30px;

//         @media(max-width: 1550px) {
//             gap: 20px
//         }
//     }

//     .header-left-button {
//         height: 78px;
//         width: 78px;
//         text-align: center;
//         line-height: 78px;
//         background: #252525;
//         margin-left: -15px;
//          @include xxl {
//             display: none;
//         }
//     }

//     .menu-area {
//         padding: 0px 15px;
//         @include xxl {
//             padding: 0px 30px;
//         }
//         @include lg {
//             padding: 0px 20px;
//         }
//         @include md {
//             padding: 13px 20px;
//         }
//     }

//     .header-button {
//         margin-right: -15px;
//         @include xxl {
//             margin-right: 0;
//         }
//         .info-box {
//             height: 78px;
//             line-height: 78px;
//             background: #252525;
//             padding: 10px 32px;
//             border-left: 1px solid #363636;
//             align-items: center;
//             @media (max-width: 1530px) {
//                 padding: 10px 16px;
//             }
//             @include xxl {
//                 display: none;
//             }

//             &_icon {
//                 width: 44px;
//                 height: 44px;
//                 min-width: 44px;
//                 line-height: 44px;
//                 font-size: 16px;
//             }

//             .info-contnt {
//                 margin-top: -.5em;

//                 .title {
//                     font-size: 14px;
//                     margin: 0 0 5px 0;
//                     font-family: var(--title-font);
//                 }

//                 .info-box_text .info-box_link {
//                     font-size: 18px;
//                     color: var(--white-color);
//                     font-family: var(--title-font);
//                     line-height: 1;
//                     margin: 0;
//                 }
//             }
//         }

//         .simple-icon {
//             color: var(--white-color);
//         }
//     }

//     .header-logo {
//         padding-top: 0px;
//         padding-bottom: 0px;
//     }

//     .main-menu>ul>li {
//         margin: 0 0px;
//         position: relative;
//     }

//     .main-menu>ul>li:before {
//         position: absolute;
//         content: "";
//         top: -1px;
//         left: 0;
//         width: 100%;
//         height: 3px;
//         background-color: transparent;
//         transition: .4s;
//     }

//     .main-menu>ul>li::after {
//         position: absolute;
//         content: "";
//         bottom: -1px;
//         left: 0;
//         width: 100%;
//         height: 1px;
//         background-color: transparent;
//         transition: .4s;
//     }

//     .main-menu>ul>li>a {
//         padding: 26px 14px;
//         color: var(--white-color);
//         @include lg {
//             padding: 26px 8px;
//         }
//     }

//     .main-menu ul li.menu-item-has-children>a::after {
//         color: var(--white-color);
//     }


//     .main-menu>ul>li {
//         &:hover {
//             background: #252525;

//             &:before {
//                 background: var(--theme-color);
//             }

//             &:after {
//                 background: #252525;
//             }
//         }
//     }

//     .main-menu ul li:hover.menu-item-has-children>a::after {
//         color: var(--theme-color);
//     }

//     .main-menu>ul>li {
//         &:hover {
//             >a {
//                 color: var(--theme-color);
//             }
//         }
//     }

//     .main-menu>ul>li {
//         &.active {
//             background: #252525;

//             >a {
//                 color: var(--theme-color);
//             }

//             &:before {
//                 background: var(--theme-color);
//             }

//             &:after {
//                 background: #494949;
//             }

//             &.menu-item-has-children>a::after {
//                 color: var(--theme-color);
//             }
//         }
//     }


//     .sticky-wrapper.sticky {
//         background-color: var(--title-color);

//         .header-logo {
//             padding: 0;
//         }
//     }
// }
// @include xs {
//     .header-layout2 .header-logo img {
//         max-width: 160px;
//     }
// }

/* Header 4 ---------------------------------- */

@media only screen and (min-width: 1300px) {
    .header-layout4 .th-container {
        --main-container: 1920px;
        padding: 0 40px;
    }
}
@include xs {
    .header-layout4 .header-logo img {
        max-width: 160px;
    }
}
/* Header 5 ---------------------------------- */
.header-layout5 {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 23px 80px;
    .header-left-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;

        @media(max-width: 1550px) {
            gap: 20px
        }
    }
    .menu-area {
        padding: 0px 0;
        @include xxl {
            padding: 0px 30px;
        }
        @include lg {
            padding: 0px 20px;
        }
        @include md {
            padding: 13px 20px;
        }
    }

    .header-button {
        .simple-icon {
            color: var(--white-color);
        }
    }

    .header-logo {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .main-menu>ul>li {
        margin: 0 0px;
        position: relative;
    }

    .main-menu>ul>li:before {
        position: absolute;
        content: "";
        top: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: transparent;
        transition: .4s;
    }

    .main-menu>ul>li>a {
        padding: 12px 18px;
        color: var(--white-color);
        @include lg {
            padding: 26px 8px;
        }
    }

    .main-menu ul li.menu-item-has-children>a::after {
        color: var(--white-color);
    }


    .main-menu>ul>li {
        &:hover {
            background: #f6f6f610;

            &:before {
                background: var(--theme-color);
            }

            &:after {
                background: #252525;
            }
        }
    }

    .main-menu ul li:hover.menu-item-has-children>a::after {
        color: var(--theme-color);
    }

    .main-menu>ul>li {
        &:hover {
            >a {
                color: var(--theme-color);
            }
        }
    }

    .main-menu>ul>li {
        &.active {
            background: #f6f6f610;

            >a {
                color: var(--theme-color);
            }

            &:before {
                background: var(--theme-color);
            }

            &.menu-item-has-children>a::after {
                color: var(--theme-color);
            }
        }
    }


    .sticky-wrapper.sticky {
        background-color: var(--title-color);
        padding: 0 20px;
        @include xxl {
            padding: 0 0px;
        }

        .main-menu > ul > li > a {
            padding: 30px 18px 30px;
            @include lg {
                padding: 20px 7px 20px;
            }
        }

        .header-logo {
            padding: 0;
        }
    }
}


@include ml {
    .header-layout5 {
        padding: 23px 20px;
    }
    .header-layout5 .menu-area {
        padding: 0px 18px;
    }
    .header-layout5 .main-menu > ul > li > a {
        padding: 12px 12px;
    }
}

@include xl {
    .header-layout5 {
        padding: 15px 5px;
    }
    .header-layout5 .main-menu > ul > li > a {
        padding: 8px 7px;
    }
}
@include lg {
    .header-layout5 .header-logo img {
        max-width: 180px;
    }
}
@include md {
    .header-layout5 .sticky-wrapper.sticky .menu-area {
        padding: 12px 15px;
    }
}
@include xs {
    .header-layout5 .header-logo img {
        max-width: 160px;
    }
}

/* breadcumb-header ---------------------------------- */

.header-layout2.breadcumb-header {
    position: absolute;
    left: 0;
    right: 0;
    background: transparent;
}


.dropdown-link {
    position: relative;

    >a {
        img {
            margin-right: 5px;
        }
    }
}

.dropdown-toggle::after {
    content: "\f078";
    border: none;
    font-family: $icon-font;
    vertical-align: middle;
    font-weight: 400;
    margin-left: 6px;
    margin-top: -1px;
}

.dropdown-menu {
    width: fit-content;
    min-width: auto;
    top: calc(100% + 6px) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    padding: 8px 20px !important;
    text-align: center;
    border-color: $border-color;

    li {
        padding-right: 0;
        margin-right: 0;

        &:after {
            display: none;
        }

        a {
            display: block;
        }
    }

    a {
        color: $title-color !important;

        &:hover {
            color: $theme-color !important;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        width: 14px;
        height: 14px;
        margin-left: -7px;
        background-color: var(--white-color);
        z-index: -1;
        transform: rotate(45deg);
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}

.header-icons {
    display: flex;
    display: flex;
    gap: 15px;

    .icon-btn {
        font-size: 18px;

        .badge {
            font-size: 12px;
            top: 0;
            right: 0;
        }

        &:hover {
            .badge {
                background-color: $title-color;
            }
        }
    }
}

.header-search {
    position: relative;

    input {
        height: 46px;
        border: 1px solid $border-color;
        width: 500px;
        max-width: 100%;

        &:focus {
            border-color: $theme-color;
        }

        @include lg {
            max-width: 350px;
        }
    }

    button {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: $theme-color;
        color: $white-color;
        width: 50px;
        height: 46px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 0 99px 99px 0;
    }
}

.category-menu {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: $white-color;
    min-width: 100%;
    width: max-content;
    left: 0;
    z-index: -1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
    transform-origin: top center;
    transition: all 0.4s ease 0s;

    ul {
        padding: 0;
        margin-bottom: 0;
    }

    li {
        list-style: none;
        border-bottom: 1px solid #F5F7EB;

        &:last-child {
            border-bottom: none;
        }

        &.menu-item-has-children {
            position: relative;

            >a {
                &:after {
                    content: "\f054";
                    float: right;
                    display: inline-block;
                    position: relative;
                    font-family: $icon-font;
                    margin-left: 4px;
                    font-weight: 600;
                    top: 1px;
                    font-size: 0.9em;
                    color: $theme-color;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        ul.sub-menu {
            position: absolute;
            text-align: left;
            top: 0;
            left: 100%;
            background-color: $white-color;
            visibility: hidden;
            min-width: 230px;
            width: max-content;
            opacity: 0;
            z-index: -1;
            box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
            border-radius: 0;
            transform: scaleY(0);
            transform-origin: top center;
            transition: all 0.4s ease 0s;

            a {
                font-size: 16px;
                line-height: 30px;
            }
        }

        &:hover {
            >ul.sub-menu {
                visibility: visible;
                opacity: 1;
                transform: scaleY(1);
                z-index: 9;
            }
        }
    }

    a {
        display: block;
        font-weight: 500;
        text-transform: capitalize;
        color: $title-color;
        position: relative;
        padding: 14px 25px;

        img {
            margin-right: 8px;
        }

        &:hover {
            background-color: $smoke-color2;
            color: $theme-color;
        }
    }

    &.close-category {
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
    }

    &.open-category {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
    }

    &-wrap {
        position: relative;
        height: 100%;

        &:hover {
            .category-menu {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
                z-index: 9;
            }
        }
    }
}

.menu-expand {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
    background-color: $theme-color;
    padding: 17px 25px;
    width: 100%;

    @include xl {
        font-size: 15px;
    }

    i {
        margin-right: 15px;
    }

    &:hover {
        color: $white-color;
    }
}

.call-btn {
    display: flex;
    align-items: center;
    gap: 13px;
    background-color: $title-color;
    padding: 0 20px;
    height: 60px;

    @include xs {
        padding: 0 15px;
    }

    .box-icon {
        color: $theme-color;
        font-size: 36px;
    }

    .box-title {
        font-size: 18px;
        margin-bottom: 0;
        color: $white-color;

        @include xs {
            font-size: 16px;
        }
    }

    .box-subtitle {
        color: $white-color;
        margin-bottom: 5px;
    }
}

