{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our Services</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Our Services</li>
            </ul>
        </div>
    </div>
</div>

<section class="overflow-hidden space space-extra-bottom" id="service-sec">
    <div class="container">
        <div class="row gy-40 justify-content-center">
        <h2 class="mb-4">{{ title }}</h2>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success mt-3">Save</button>
            <a href="{% url 'service_list' %}" class="btn btn-secondary mt-3 ms-2">Cancel</a>
        </form>
        </div>
    </div>
</section>

{% endblock %}


